<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  
  <body>
    <div class="document-body">
      <h2>Коммерческое предложение по созданию веб-сайта.</h2>
      
      <p>
        Мы предлагаем разработку эффективного продающего сайта по отлаженной
        рабочей схеме. Это позволяет получить действительно мощный бизнес-ресурс,
        приносящий прибыль вашей компании. 
      </p>
  
      <h2>ЭТАПЫ И ВИДЫ РАБОТ</h2>

      <div class="table">
        <div class="table-header">
          <h4>Этап 1. Оценка проекта</h4>
        </div>
        
        <div class="table-content">
          <div class="table-element">
            <div class="column-name">
              <span>Исполнитель</span>
            </div>
            
            <ul class="column-content">
              <li> Запрашивает все
                исходные данные, пожелания
                для оценки трудоемкости и
                стоимости проекта</li>
              <li> Изучает конкурентов, и
                если есть – то старый сайт
                заказчика </li>
              <li>Формирует базовое
                описание проекта и
                оценивает стоимость</li>
            </ul>
          </div>
          <div class="table-element">
            <div class="column-name">
              <span>Исполнитель</span>
            </div>
            
            <ul class="column-content">
              <li> Запрашивает все
                исходные данные, пожелания
                для оценки трудоемкости и
                стоимости проекта</li>
              <li> Изучает конкурентов, и
                если есть – то старый сайт
                заказчика </li>
              <li>Формирует базовое
                описание проекта и
                оценивает стоимость</li>
            </ul>
            
          </div>
          <div class="table-element">
            <div class="column-name">
              <span>Исполнитель</span>
            </div>
            
            <ul class="column-content">
              <li> Запрашивает все
                исходные данные, пожелания
                для оценки трудоемкости и
                стоимости проекта</li>
              <li> Изучает конкурентов, и
                если есть – то старый сайт
                заказчика </li>
              <li>Формирует базовое
                описание проекта и
                оценивает стоимость</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>