body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 25, 25);
}

.document-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  aspect-ratio: 1 / 1.4;
  background-color: white;
  padding: 0 70px 0 70px;
}

.document-body p{
  width: 80%;
}

.table-header h4{
  text-align: center;
}

.table-content{
  display: flex;
  justify-content: center;
}
